<h5 class="text-right">Mira todo lo que tenemos para ofrecerte: </h5>
  <ul *ngFor="let p of products">

    <li class="col list-unstyled float-right" style="width: 90%; height: auto;">
      <div class="card border-bottom">

        <img class="card-img-top" [src]="p.imagen" alt="Card image cap" style="width: 100%; height: 50%;">
        <div class="card-body">

          <h5 class="card-title">{{p.nombre}} - {{p.precio | currency}}
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
              <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            </svg>
          </h5>

          <div *ngIf="p.cantidad > p.stock" class="alert alert-warning alert-sm col-12" role="alert">
          No hay stock!
          </div>

          <app-input-int [(quantity)]="p.cantidad" [max]="p.stock"></app-input-int>
          <button class="btn btn-dark float-right" (click)="addToCart(p)">Agregar</button>
        </div>
      </div>
    </li>
 
  </ul>



  




