.precio {
    color: darkgreen;
}

.card {
    margin-bottom: 1rem;
    border-color: rgb(71, 71, 71);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

li {
    text-decoration: none;
    text-decoration: white;
}

input {
    background-color: rgb(206, 206, 206);
    float: right;
    width: 30px;
    text-align: center;
}