<header><h3 class="text-center text-monospace">
  {{title}}
  <i class="fas fa-seedling"></i>
</h3></header>
<ul class="nav justify-content-center text-monospace">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/products']">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/workshops']">Talleres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="text-center">
  <h6>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    @Huertanica
  </h6>
  <h6>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
    Rauch, provincia de Buenos Aires. Argentina
  </h6>
  <h6>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
    </svg>
    huertanica_contacto@gmail.com
  </h6>
</footer>
